[Unit]
Description=SonarQube service
After=syslog.target network.target
[Service]
Type=forking
ExecStart=/var/opt/sworks/sonarqube-8.2.0.32929/bin/linux-x86-64/sonar.sh start
ExecStop=/var/opt/sworks/sonarqube-8.2.0.32929/bin/linux-x86-64/sonar.sh stop
User=sonarqube
Group=sonarqube
LimitNOFILE=131072
LimitNPROC=8192
Restart=always
[Install]
WantedBy=multi-user.target
